<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载</title>
</head>
<body>
<table board="1">
    <tr>
        <th>名称</th>
        <th>大小</th>
    </tr>
    {% for name in dir_list %}
        <tr>
            <td><a href="{% url 'download' name.0 %}">{{ name.1 }}</a></td>
        </tr>
    {% endfor %}
    {% for name in file_list %}
        <tr>
            <td><a href="{% url 'download' name.0 %}">{{ name.1 }}</a></td>
            <td>{{ name.2 }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>