<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
{#<script type="text/javascript">#}
{#    function test(){#}
{#        title = document.getElementById("title").value;#}
{#        alert(title);#}
{#    }#}
{#</script>#}
<body>
    {{ user_status.status }}
    {{ user_status.username }}
    {% if userinfo.status == True %}
        {{ userinfo.username }}
        <a href="{% url 'logout' %}">注销</a>
    {% endif %}
    {% if userinfo.status != True  %}
        <a href="{% url 'login' %}">登录</a>
    {% endif %}

    <h1>上传文件</h1>
        <form action="{% url 'blog:upload' %}" role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}
            <input type="file" name="file">
            <input type="submit" value="上传">
        </form>
    <h1><a href="{% url 'download' '' %}">下载文件</a></h1>
    <h1><a href="{% url 'chatroom' %}" >聊天室</a></h1>
    <a href="{% url 'blog:myArticle' %}">个人</a>


</body>
</html>